absl-py
altair<5
altgraph
astunparse
attrs
auto-py-to-exe
Babel
beautifulsoup4
blinker
bottle
bottle-websocket
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
docutils
Eel
filelock
flatbuffers
fonttools
fpdf
fsspec
future
gast
gevent
gevent-websocket
gitdb
GitPython
google-pasta
greenlet
grpcio
h5py
huggingface-hub
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
mpmath
namex
narwhals
networkx
nltk
numpy
opt-einsum
optree
packaging
pandas
pefile
pillow
protobuf==3.20.*
psutil
pyarrow
pycparser
pydeck
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyparsing
PyPDF2
PyQt5
PyQt5-Qt5
PyQt5-sip
PySide6
PySide6-Addons
PySide6-Essentials
pytesseract
python-dateutil
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
seaborn
shiboken6
six
smmap
soupsieve
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow-cpu
tensorflow-io-gcs-filesystem
termcolor
tf-keras
threadpoolctl
tkfilebrowser
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm
transformers
ttkbootstrap
typing-extensions
tzdata
urllib3
watchdog
Werkzeug
whichcraft
wrapt
zope.event
zope.interface
logging
textblob
python-docx
sentence-transformers

# CUDA Support (Optional, for GPU):
# To add CUDA support, run:
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118